
  /* click img opacity */
  .mySwiper_1 .swiper-slide {
    width: 25%;
    opacity: 0.6;
    height: 100%;
    cursor: pointer;
  }
  .mySwiper_1 .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  /* click img opacity */
  .mySwiper_2 .swiper-slide {
    width: 25%;
    opacity: 0.6;
    height: 100%;
    cursor: pointer;
  }
  
  .mySwiper_2 .swiper-slide-thumb-active {
    opacity: 1;
  }
  /* click img opacity */
  .mySwiper_3 .swiper-slide {
    width: 25%;
    opacity: 0.6;
    height: 100%;
    cursor: pointer;
  }
  
  .mySwiper_3 .swiper-slide-thumb-active {
    opacity: 1;
  }
  /* click img opacity */
  .mySwiper_4 .swiper-slide {
    width: 25%;
    opacity: 0.6;
    height: 100%;
    cursor: pointer;
  }
  
  .mySwiper_4 .swiper-slide-thumb-active {
    opacity: 1;
  }
  /* click img opacity */
  .mySwiper_5 .swiper-slide {
    width: 25%;
    opacity: 0.6;
    height: 100%;
    cursor: pointer;
  }
  
  .mySwiper_5 .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .common-wrapper{
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  .common-inner{
    border-bottom: 15px solid #282828
  }
  .row-wrapper img{
    height: 500px;
    object-fit: contain;
  }
  .common-inner img{
    padding-top: 10px;
  }

/* all thamnail equal height */


  .common-inner .swiper-slide{
    cursor: pointer;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 43px !important;
    font-weight: bold;
    line-height: 1;
    text-shadow: 2px 0 0 #fff, 0 2px 0 #fff, -2px 0 0 #fff, 0 -2px 0 #fff;  
    filter: drop-shadow(3px 6px 9px rgba(0, 0, 0, 0.4));
    color: #ffffff;
  }
  .swiper-button-prev:hover {
    filter: drop-shadow(3px 6px 9px rgba(0, 0, 0, 0.3));
  }
  .swiper-button-next:hover {
    filter: drop-shadow(3px 6px 9px rgba(0, 0, 0, 0.3));
  }
  
  .slider_content{
    padding-top: 80px;
    width: 58%;
    margin: 0 auto;
  }
  
  
  
  @media screen and (max-width: 990px) {
    .slider_content{
      width: 100%;
    }
    .row-wrapper img{
        height: 100%;
      }
    img.Slider_H{
        width: 45% !important;
        margin: 0 auto;
      }
      img.B_Slider_H{
        width: 60% !important;
        margin: 0 auto;
      }
      .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 30px !important;
        text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; 
      }

    
  }
